

// Common abstract classes to extend or parametrics are stored here.

// Example parametrics.
// ------------------------------------------------------
// %font-FONTNAME   {}
// %font-sans-serif { font-family: sans-serif; }
// %font-serif      { font-family: serif; }

$font-stack:    Helvetica, sans-serif;
$erie-color: #4891E7;
$mead-color: #90CC54;
$cv-color:#9681bf;

body {
  font: 100% $font-stack;

}

.alert-box
{
	display:none;
}
.view-featured-sliders .readmore a,
.field-name-field-button a {
	background:$cv-color;


border-radius: 2px;
text-align:center;
padding:6px;
color:white;
margin:10px 0;
float:left;

&:hover {
	background: darken($cv-color, 13.5%);
}
	
}
.flex-direction-nav
{
	display:none;
}

.pane-featured-sliders h2
{
	display:none;
}
main
{
	-webkit-box-shadow: 0px 9px 5px 8px rgba(217,217,217,1);
	-moz-box-shadow: 0px 9px 5px 8px rgba(217,217,217,1);
	box-shadow: 0px 9px 5px 8px rgba(217,217,217,1);
	padding-top:20px;
	padding-bottom:20px;
}