// Non-modular or client styles for .l-header region.

.l-header-region
{
	height:300px;
}

body.section-erie #logo
{
height:105px;
display:block;
background:url('../img/logo-erie.png') no-repeat 0 0;	
}
.logo-back
{
	background-color:black;
}