body.section-erie
{
	
	.pane-title
	{
		background-color:black;
		color:white;
		font-size:24px;
		text-align:center;
		margin-top:0px;
		padding:10px 0 10px 0;
	}
	
	.pane-block, .pane-ads
	{
		border:4px solid $erie-color;
	}

}
	.field-name-field-bean-text
	{
		padding:10px;
	}