.l-header ul.menu li a
{
	color           : white;
}
	
.block-menu-menu-region-menu ul.menu
{
	margin-bottom:0px;
}	

.block-menu-menu-region-menu ul.menu li
{
	display         : block;
	width           : 114px;
	float           : left;
	margin-right    : 5px;
	padding         : 10px;
	/* Rectangle 10 : */
	border-radius   : 2px;
	/* Erie         : */
	font-size       : 14px;
	text-align      : center;
	color           : #FFFFFF;
	&.menu-605{
		background     : #4891E7;
	}
	&.menu-604{
		background     : #90CC54;
	}
	
	&.menu-603{
		background     : #7528B9;
	}
}

.block-menu-block-1 
{
	ul.menu {
		background     : #7528B9;
		border-radius  : 2px;
		padding        : 10px;
		float          : left;
		margin-bottom: 0px !important;
	}

ul.menu li
{
	display         : block;
	float           : left;
	margin     : 0px 10px;
	font-size       : 14px;
	color           : #FFFFFF;
	text-align:center;
}
body.section-mead .block-menu-menu-region-menu ul.menu li a:hover
{
background-color: red;
}

}
body.section-mead .block-menu-block-1 ul.menu
{
	background     :$mead-color;
}
body.section-erie .block-menu-block-1 ul.menu
{
background     : $erie-color;	
}
body.section-carbon-valley .block-menu-block-1 ul.menu
{
	background:$cv-color;
}

.block-menu-menu-region-menu ul.menu 
{
	li.menu-603:hover{
		background-color: darken($cv-color, 13.5%);
	}
	li.menu-604:hover{
		background-color: darken($mead-color, 13.5%);
	}
	li.menu-605:hover{
		background-color: darken($erie-color, 13.5%);
	}
	
}